@layer components {
  .tweet {
    @apply grid cursor-pointer grid-cols-[48px_auto] gap-3 border-b border-solid border-gray-300 px-4 py-3 transition-[background-color] duration-200 ease-in-out;
    @apply hover:bg-white hover:bg-opacity-[0.03] hover:transition-[background-color] hover:duration-200 hover:ease-in-out;

    &-header {
      @apply text-[15px];
    }

    &-message {
      @apply mb-3 text-[15px] leading-5;
    }

    &-media {
      @apply rounded-[18px] border border-solid border-gray-300;

      &.collage {
        @apply grid h-[158px] gap-[2px] sm:h-[288px];

        img {
          @apply h-full w-full object-cover;
        }

        &-2 {
          @apply grid-cols-2;

          & > :first-child {
            @apply rounded-l-[18px];
          }

          & > :last-child {
            @apply rounded-r-[18px];
          }
        }

        &-3 {
          grid-template-areas:
            'one two'
            'one three';

          & > :first-child {
            @apply h-[158px] rounded-l-[18px] sm:h-[288px];
            grid-area: one;
          }

          & > :nth-child(2) {
            @apply max-h-[144px] rounded-tr-[18px];
            grid-area: two;
          }

          & > :nth-child(3) {
            @apply max-h-[144px] rounded-br-[18px];
            grid-area: three;
          }
        }

        &-4 {
          @apply grid-cols-2 grid-rows-2;

          & > :first-child {
            @apply max-h-[144px] rounded-tl-[18px];
          }

          & > :nth-child(2) {
            @apply max-h-[144px] rounded-tr-[18px];
          }

          & > :nth-child(3) {
            @apply max-h-[144px] rounded-bl-[18px];
          }

          & > :last-child {
            @apply max-h-[144px] rounded-br-[18px];
          }
        }
      }

      .single {
        @apply h-full max-h-[510px] w-full max-w-[504px] rounded-[18px];
      }
    }

    &-footer {
      @apply mt-3 grid max-w-[425px] grid-cols-[repeat(4,fit-content(100%))] justify-between;

      div {
        @apply grid grid-cols-[repeat(2,fit-content(100%))] items-center gap-2 text-gray-200 transition-[background-color] duration-200 ease-in-out;
        @apply hover:transition-[background-color] hover:duration-200 hover:ease-in-out;

        &.comments {
          @apply hover:text-primary-100;
        }

        &.retweets {
          @apply hover:text-retweet-100;
        }

        &.likes {
          @apply hover:text-liked-100;
        }

        &.share {
          @apply hover:text-primary-100;
        }
      }
    }
  }
}
